<div class="container">
    <div class="row">
        <h1>Editar pregunta</h1>
        <%= render 'form' %>
        <%= link_to 'Ver detalle', @question %> |
        <%= link_to 'Atrás', questions_path %>        
    </div>
</div>
