<div class="container">
  <div class="row">
    <div class="page-header clearfix">
      <h1 class="pull-left">Preguntas</h1>
      <div class="pull-right">
        <%= link_to 'Crear Nueva Pregunta', new_question_path, :class => "btn btn-primary btn-new" %>
      </div>
    </div>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Descripción</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.description %></td>
            <td>
              <%= link_to 'Editar', edit_question_path(question) %>  |  
              <%= link_to 'Eliminar', question, method: :delete, data: { confirm: '¿Está seguro?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>