<% if @user.student? %>
  <div class="text-center mr-28 mr-0-xs mr-14-sm">
    <h6>HSE</h6>
    <div class="c100 p82 small gray p0">
      <span>
        <%= "#{ percentage(@student_hse_points) }%" %>
      </span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="col-sm-12 text-center p-0">
      <p class="score mb-0">
        <span class="book"><%= @student_hse_points[:points] %></span>
        <span class="slash">/</span>
        <span class="thin gray-29"><%= @student_hse_points[:max] %></span>
      </p>
      <p class="fs-13 light">points</p>
    </div>
  </div>

<% end %>
