#coder-profile {
  color: #fff;
  background-color: #3d3d3d;

  .photo-profile {
    height: 200px;
  }

  .badges {
    display: flex;
    .badge {
      img {
        background-color: #fff;
      }
    }
  }
  .empty-badge {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px dashed #fff;
    margin: 3px 7px;
  }
  .grades-summary {
    display: flex;
    justify-content: flex-end;
  }
}

.full-h {
  height: 100%;
}

.student-status-good {
  border: 2px solid #2ecc71;
  padding: 3px;
}

.student-status-danger {
  border: 2px solid #e74c3c;
  padding: 3px;
}

.student-status-warning {
  border: 2px solid #f7b617;
  padding: 3px;
}

.student-status-disable {
  border: 2px solid #9b9b9b;
  padding: 3px;
}

#menu-tabs {
  border-bottom: 1px solid #ddd;
  a {
    color: #4a4a4a;
  }
}

.col-md-2 {
  &.active {
    border-bottom: 2px solid #f7b617;
    a {
      font-weight: 600;
    }
  }
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.icon-arrow {
  display:none;
}
.arrow-show {
    display: inline;
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 18px;
  }

  .description {
    font-size: 13px;
  }
  .codigo {
    font-size: 13px;
  }

  .c100.small {
    font-size: 68px;
  }

  .score {
    font-size: 12px;
  }

  #coder-profile {
    .photo-profile {
      height: 154px;
    }
    .badge {
      width: 70px;
    }

    .empty-badge {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {

  #coder-profile {
    .badges {
      display: inline-block;
    }
  }

  .navbar-right {
    text-align: right;
  }

  .mr-0-xs {
    margin-right: 0;
  }

  .text-center-xs {
    text-align: center;
  }

  #coder-profile {
    .photo-profile {
      height: 110px;
    }
  }
  .name {
    font-size: 18px;
  }
  .description {
    font-size: 13px;
  }
  .codigo {
    font-size: 13px;
  }

  .badge-count {
    width: 20px;
    height: 20px;
    background-color: #f7b617;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .c100.small {
    margin: 14px auto;
    font-size: 95px;
  }

  .fs-15-xs {
    font-size: 15px;
  }
  .score {
    font-size: 17px;
  }
}
