<div class="outer-container <%="hidden" if @page.page_type != "solution" %>">
  <div class="inner-container text-center">
    <h2>Solucionario</h2>
    Descarga el solucionario del ejercicio aqui 
    <%= link_to @page.solution_file.url do %>
      <i class="fa fa-file-archive-o"></i>
    <% end %><br><br>
    <div class="clearfix">
      <% @page.video_solution.split(',').each do |solution| %>
        <div>
          <iframe width="560" height="315" src="<%= solution %>" frameborder="0" allowfullscreen></iframe>
        </div>        
      <% end %>
    </div> 
  </div>
</div>