
.checked {
	border: 1px solid #f6b618;
	background-color: #f6b618;
}
.btn-autoevaluacion.submit {
	background-color: #f6b618!important;
	&:hover {
		background-color: #d59600!important;
	}
}
#autoevaluacion {
	h2 {
		font-size: 12px;
	}
	h3 {
		font-size: 30px;
   		margin-top: 0px;
	}
	.texto-introductorio {
		font-size: 13px;
	}
	label {
		font-size: 15px;
	}
	.list-icons-feeling li {
		border: 1px solid #ddd;
		padding: 15px;
		cursor: pointer;
		border-radius: 2px;
		&:nth-child(2) {
			margin: 0px 40px;
		}
		img {
			transition: all 0.25s ease;
		}
		&:hover {
			border: 1px solid #f9a91a;
			img {
				-ms-transform: 	   scale(1.1);
			    -webkit-transform: scale(1.1);
			    transform: 		   scale(1.1);	
			}
		}
	}
	.respuesta {
		border: none;
	    font-style: italic;
	    font-size: 15px;
	    padding-left: 14px;
	    padding-top: 10px;
	    &:focus {
	    	outline: none;
	    }
	}
	button {
		border: none;
	    border-radius: 2px;
	    width: 150px;
	    height: 50px;
	    color: white;
	}
}