/* course_list */
.courses {
    margin-top: 40px;
}

.panel a {
  font-weight: 300;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white;
}

.header-grid {
    height: 121px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.bg-tracks {
  // background: image-url("hands-computer.jpg");
  height: 290px;
  // background-size: cover;
  // background-position-y: -226px;
  // background-repeat: no-repeat;
  // position: relative;
}

.bg-tracks {
  & .overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

 .minh-600 {
    min-height: 600px;
  }

.grid-cursos {
  border: 1px solid #333333;
  height: 280px;
}

.text-primary {
  color: #f9a91a !important;  
}

.text-white {
  color: white !important;
}

a:-webkit-any-link {
    color: inherit;
    cursor: auto;
}

.lh-course {
  line-height: 1.4;
}


.bg-img-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* course_details */

.course-header {
  border-top: 1px solid;
  padding: 4em 50px 0em;
  margin-bottom: 30px;
}

.course-header .content {
  color: white;
  max-width: 75em;
  position: relative;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.course-header .content a {
  font-weight: 300;
  font-size: 18px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white;
}

.course-header .content i {
  vertical-align: middle;
  margin-right: 10px;
}

.course-header .content h1 {
  font-size: 36px;
}

.course-header .content h4 {
  font-weight: 300;
}

.course-header .content img {
  max-width: 100%;
}

.units-container {
  min-height: 100px;
}

.units-container .units ol {
  list-style:none;
}

.units-container .units .unit {
  margin-bottom: 60px;
  border-bottom: 1px dashed #eee;
}

.units-container .units ol .progress-item {
  font-size: 17px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  position: relative;  
}

.units-container .units ol .progress-item i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
}

.units-container .progress-item .fa-code {
  font-size: 26px !important;
}

.units-container .units .overview h2 {
  margin-top: 0px;
  font-size: 25px;
}

.units-container .units .content-box {
  padding: 0px 20px;
}

.bg-gray-dark {
  background-color: #333333;
}

.progress-details {
    height: 49px;
    border-radius: 0px !important;
}

.progress-bar-details {
    text-align: left;
    padding-left: 14px;
    font-size: 28px;
    padding-top: 14px;
    font-weight: 300;
    background-color: #F7B617;
}

.lh-md {
  line-height: 1.4;
}

.fz-21 {
  font-size: 21px;
}

.viewed {
  &:before {
    content: '';
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    position: absolute;
    left: -30px;
    margin-top: 14px;
    background: white;
  }
  &.active {
    &:before {
      font-family: 'FontAwesome';
      background: #FCB425;
      border: 1px solid #FCB425;
      color: #fff;
    }
  }
}
