.page {
  display: table;
  padding: 0 0 53px 0;
  width: 100%;
  position: relative;
  
  .blog{
    h1, h2, h3, h4,  h5, h6 {
      	text-decoration:underline;
    }
    p, ul{
      	margin: 0 0 20px;
        text-align:left;
    }
    h1, .blog h2 {
    	margin-bottom: 20px;
    }
      
    pre, code {
      display:inline;
    }
  }
  
  .navigation {
    display: table-cell;
    width: 347px;
    min-width: 347px;
    position: static;
    transition: max-width 200ms;
    vertical-align: top;
    z-index: 10;
    background-color: #3E3F40;
    .panel, .panel-heading {
      border-radius: 0px;
    }
    @media (max-width: 680px) {
      position: fixed;
      width: 100%;
      top: 0px;
      overflow: auto;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    @media (min-width: 681px) and (max-width: 980px) {
      width: 35%!important;
      min-width: 35%;
      &:before {
        display: none;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 300px;
      position: fixed;
      bottom: 0px;
      top: 0px;
      left: 0px;
      z-index: -1;
      background-color: #EEEEEE;
      @media (max-width: 680px) {
        background-color: #3E3F40;
        min-width: 100%;
        width: 100%;
      } 
    }
    
    .content {
      padding: 0;
      position: relative;
      background-color: white;
      display: table-cell;
      width: 100%;
      z-index: 1;    
    }
    
    .breadcrumb {
      display: block;
      line-height: 1.3;
      margin: 10px 0 0;
      font-size: 18px;
      background-color:#3E3F40;
      padding-bottom: 15px;
    }
  }

}
@media (min-width: 680px) and (max-width: 980px) {
  .logo-desktop {
    max-width: 35%!important;
    min-width: 35%!important;
  }
}
.navigation.active {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.switch-movil {
  display: none;
}
.switch {
  width: 30px;
  height: 23px;
  position: absolute;
  right: 7%;
  top: 25px;
  cursor: pointer;
  z-index: 10;
  &:before, &:after {
    content: "";
    display: block;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .menu-toggle {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 6px auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
}
.switch.black {
  &:before, &:after, .menu-toggle {
    background-color: #4a4a4a;
  }
}
.switch.on {
  &:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  &:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle {
    opacity: 0;
  }
}
@media (max-width: 680px) {
  .logo-desktop {
    display: none;
  }
  .switch-movil {
    display: block;
    padding: 14px 28px;
  }
}

.page-title {
  color: white;
}

.page .navigation .breadcrumb h2 {
  margin-bottom: 0;  
}

.page .navigation .breadcrumb a {
  color: #606060;
}
.page .navigation .breadcrumb i {
  margin-right: 0px;
  font-size:18px;
  display: inline-block;
}

.page .navigation .units {
  list-style: none;
}

.page .navigation .units .unit-item {
  width: 100%;
  position: relative;
}

.page .navigation .units .unit-item .item {
  font-weight: 300;
  width: 100%;
  display: table;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid transparent;
  border-right: 0;
}

.page .navigation .units .unit-item .item .icon {
  display: table-cell;
  vertical-align: middle;
  width: 40px;
}

.page .navigation .units .unit-item .item .page-title {
  display:table-cell;
  box-sizing: border-box;
  min-height: 40px;
  padding: 15px;
  vertical-align: middle;
  line-height: 20px;
}

.page .navigation .units .unit-item .item .icon i {
  font-size: 25px;
  width: 40px;
  padding: 15px;
}

.square-pages {
  &:hover {
    &:before {
      background: #FCB425;
    }
  }
  &:before {
    content: '';
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 27px;
    text-align: center;
    position: absolute;
    left: 13px;
    margin-top: 1px;
    background: #3e3f40;
  }
  &.active {
    &:before {
      content: '';
      border: 1px solid #FCB425;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 27px;
      text-align: center;
      position: absolute;
      left: 13px;
      margin-top: 1px;
      background: #FCB425;
    }
  }
}

.page .content .page-title {
  margin: 30px 0px 0px;
  padding: 20px 20px 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.page .content .outer-container {
  padding: 40px 0px;
  min-height: 500px;
  background-color: white;
}

.video-title {
  margin-bottom: 40px;
}


.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    display: inline-block;
    position: relative;
    width:100%;
}
.video-overlay {
    position:absolute;
    float:left;
    width:100%;
    min-height:100%;
    background-color:#f6f8f8;
    z-index:300000;
}

.video-overlay .btn {
  margin-top: 10%;
}

video {
    width: 100%;
    height: 100%;
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty { outline: 1px solid #c22; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.preview {
    width: 100%;
    height: 300px;
    background: white;
    border: 1px solid silver;
}

.instructions h1,
.instructions h2,
.instructions h3,
.exercise_instructions h1,
.exercise_instructions h2,
.exercise_instructions h3 {
  color: #F5A829;
  margin-bottom:20px;
}

.instructions li {
  padding: 10px 0px;
}

.instructions ol {
  margin-bottom: 10px;
}

.instructions ol {
    counter-reset: item;
}
.instructions ol li { 
  display: block }

.instructions ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    padding-right:15px;
}

.instructions, .exercise_instructions {
  margin-bottom:20px;
}

.instructions ol, .exercise_instructions ol {
  margin-left: 22px;
}

.exercise_instructions img {
  max-width: 100%;
}

.viewed {
  color: #606060;
}

.viewed:hover {
  color: #373737;
}

.red-viewed {
  color: #c0392b;
}

.form-group {
  margin-bottom: 0px;
}

.questions-slider {
  min-height: 350px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.page_question_groups_sequence {
  width: 80px;
}

.questions_fields {
  padding: 20px 0px 20px 20px;
}

.questions_fields td {
  padding: 5px;
}

.page_question_groups_points {
  width: 60px;
}


.nav-divider {
  border-top: 1px solid #ccc;
  margin: 5px 0px;
}

.unit-title {
  padding: 15px 5px 15px 10px;
  margin: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;  
}

.editors {
  margin-bottom:30px;
  font-size: 18px;
}

.editor-notes .yellow {
  color: #F5A829;
  text-transform: uppercase;
}

.actions {
  margin-top:60px;
}

.actions .btn {
  text-transform: uppercase;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
}

.check-video-again {
  background-color: #606060;
  margin-right: 20px;
}

.start-over {
  background-color: #009688;
  margin-right: 20px;
}

.save {
  background-color: #62D1B7;
}

/* Override to codeMirror */
.CodeMirror {
  border-radius: 0px;
  padding:0px;
}

.CM-disabled {
  background-color: #eee;
}

.video-solution {
  float:left;
  margin-right: 20px;
}

.breakline {
  border: 1px solid #F5A829;
  width: 20px;
  margin: 0px auto;
} 

// COLLAPSE PAGES

.bg-collapse {
    color: #333;
    background-color: #3E3F40 !important;
    border-color: #3E3F40 !important;
}

.border-gray-dark {
  border-color: #3E3F40 !important;
}

.bg-gray-dark {
    background: #3E3F40 !important;
    color: white;
}

.quote-list {
  &:before {
    content: "-";
    margin-right: 7px;
    position: absolute;
    left: 2px;
  }
}

.disabled {
  color: gray;
}

.fz-14 {
  font-size: 14px;
}

.full-height {
  height: 100vh;
}

.square-pages-list {
  &:hover {
    &:before {
      background: #FCB425;
    }
  }
  &:before {
    content: '';
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-right: 27px;
    text-align: center;
    position: absolute;
    left: 35px;
    margin-top: 3px;
    background: #3e3f40;
  }
  &.active {
    &:before {
      content: '';
      border: 1px solid #FCB425;
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin-right: 27px;
      text-align: center;
      position: absolute;
      left: 35px;
      margin-top: 3px;
      background: #FCB425;
    }
  }
}

.w-347 {
    max-width: 347px;
    min-width: 347px;
}

.user-pages {
  color: #3e3f40;
  &:hover {
    background: none !important;
  }
}
