.intro-perfil {
  @media (max-width: 770px) {
    text-align: center;
    img {
      width: 130px;
      margin: 0 auto;
    }
  }
}
#point-summary {
  .font-big {

  }
}
.name {
  font-size: 23px;
  color: #0f0f0f;
}

.description {
  font-size: 18px;
  color: #525252;
}

.codigo {
  font-weight: 700;
  opacity: 0.83;
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

.badge {
  position:relative;
  background-color: transparent;
}


.badge-count {
  width: 25px;
  height: 25px;
  background-color: #4a4a4a;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.badge-count p {
  width: 12px;
  height: 12px;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  position: relative;
  top: 26%;
  left: 27%;
}

.pt-90 {
  padding-top: 90px;
}
.font-big {
  font-size: 25px;
  @media (max-width: 770px) {
    font-size: 16px;
  }
}

.font-17 {
  font-size: 17px;
}

.gray-29 {
  color: #4a4a4a;
}

.sprint-name {
  font-weight: 500;
}

.sprint-dropdown > li> a {
  font-weight: 300;
}

.sprint-dropdown > li> a:hover {
  color: #fff;
}

.c100 > span {
  color: #4a4a4a;
}

.score {
  font-size: 18px;
}

.book.gray-29 {
  font-weight: 500;
}

.page-type {
  clear: both;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.lessons-panel label {
  font-weight: 100;
}

.lessons-panel .lesson-checkbox label {
  font-weight: normal;
}

.bg-selection {
  background-image: image-url('hero_bienvenida.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  h1 {
    color: white;
    font-size: 40px;
  }
  img {
    position: absolute;
    width: 35px;
    bottom: 40px;
  }
}

.full-width {
  width: 100%;
}

#content {
  margin-top: 90px;
  p {
    font-size: 20px;
    margin-top: 21px;
  }
  .links-postula {
    margin-top: 56px;
    li {
      margin-top: 14px;
      a {
        font-size: 20px;
        &:hover {
          color: #F7B617;
          transition: all 0.3s ease;
          border-bottom: 1px solid #f7b617;
        }
      }
    }
    ul {
      list-style: none;
      li {
        margin-top: 14px;
        font-size: 20px;
      }
    }
  }
  .btn-prueba {
    width: 100%;
    background-color: #F7B617;
    padding: 14px 7px;
    color: white;
    margin-top: 70px;
    margin-bottom: 140px;
    font-size: 21px;
    box-shadow: none;
  }
}

#final-prueba {
  h3 {
    font-size: 40px;
    margin-top: 70px;
  }
  p {
    margin: 44px 0;
    font-size: 20px;
  }
  .text-final {
    margin: 77px 0;
  }
}

.border-bottom {
  border-bottom: 1px solid #555555;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}


.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
