//------------------------------------
// Website colors
// description: Use this variables to define color for the application,
// try to keep this list short and reusable
//
// Usage:
//
// .menu {
//   color: $amarillo-laboratoria;
// }
//
//------------------------------------

$gray-dark:                 #333333 !default;
$gray:                      #3C4145 !default;
$gray-light:                #9B9B9B !default;
$gray-lighter:              #ECEEEF !default;
$gray-lightest:             #F7F7F9 !default;
