* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  color: #393d40;
	background: #fff;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

.wrapper {
	min-height:100%;
	position:relative;
	padding-bottom: 4%;
}

.container {
  padding-bottom: 60px;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #9c4c9d;
    color: #fff;
}
::-moz-selection {
    background: #9c4c9d;
    color: #fff;
}

.page-header {
    margin: 0px 0px 20px 0px;
}

.btn-new {
  margin-top: 20px;
}

.btn {
  border-radius: 2px;
  -webkit-box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
  -moz-box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
  box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
}

label {
    font-weight: normal;
}

.center {
  text-align: center;
}

.mtp-10 {
  margin-top: 10%;
}

.mt-20 {
  margin-top:20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.p-20 {
  padding: 20px;
}

.plr-20x {
  padding:20px 5%;
}

.w-135 {
    width: 135px;
}

.bg-gray-lighter {
    background-color: #f7f7f7;
}

.fz-44 {
  font-size: 44px;
}

.lh-xs {
  line-height: 1 !important;
}

.minh-210 {
  min-height: 210px;
}

.lh-28 {
    line-height: 28px;
}

/* TODO: Remove when improve */
.ph-56 {
    padding-left: 56px;
    padding-right: 56px;
}

.block {
  display: block;
}


// PROFILE

.text-gray-light {
    color: #b5b6b7;
}

.minh-70 {
    min-height: 70px;
}

.bg-gray-light {
    background: #ededed;
}

.border-bottom-gray {
    border-bottom: 1px solid #ccc;
}
