  <div class="admin-nav">
    <div class="container-fluid">
        <ul>
            <li><%= link_to "Cursos",courses_path %></li>
            <li><%= link_to "Questions",questions_path %></li>
            <li><%= link_to "Videos", videos_path %></li>
        </ul>
    </div>
  </div>