<header class="header clearfix">
	<div class="row">
		<div class="col-md-3">
			<div class="header-left clearfix">
				<div id="logo" class="logo">
					<a href="index.html">
					    <%= image_tag 'logo.png', :id => "logo_img", :alt => "Laboratoria educación" %>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
		    <nav class="pull-right navigation">
    		    <ul>
    		        <li>
                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                          <%= link_to "Crea una nueva cuenta", new_registration_path(resource_name), :class => "btn btn-primary" %>
                        <% end -%>
                    </li>
                    <li>
                          <%- if devise_mapping.omniauthable? %>
                            <%- resource_class.omniauth_providers.each do |provider| %>
                              <%= link_to omniauth_authorize_path(resource_name, provider) do %>
                                  <%= fa_icon "github 2x" %>
                              <% end %>
                            <% end -%>
                          <% end -%>                            
                    </li>
    		    </ul>     
		    </nav>
		</div>
	</div>
</header>