<header class="header clearfix">
	<div class="row">
		<div class="col-md-3">
			<div class="header-left clearfix">
				<div id="logo" class="logo">
					<a href="index.html">
					    <%= image_tag 'logo.png', :id => "logo_img", :alt => "Laboratoria educación" %>
					</a>
					<h1 class="thin">Recursos laboratoria</h1>
				</div>
			</div>
		</div>
		<div class="col-md-9">
		</div>
	</div>
</header>