<header class="header">
  <div class="container pv-14 center">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-md-offset-4">
        <%= image_tag "logo.svg",alt: "Laboratoria código que transforma", class: "logo-laboratoria" %>
      </div>
    </div>
  </div>
</header>