<% content_for :scripts do %>
  <script type="text/javascript">
    $('#groups_id').change(function(){
      var group_id = this.value;
      var domain = document.location.origin;
      $.ajax(domain + '/admin/sprints/group/' + group_id, {
        type: 'GET'
      });
  })
  </script>
<% end %>

<div class="container-fluid p-20">
  <div class="page-header clearfix">
    <div class="pull-left">
      <h1 class="">Listing Sprints</h1>
    </div>

    <div class="pull-right">
      <%= link_to 'New Sprint', new_sprint_path, class: 'btn btn-primary btn-new' %>
    </div>
  </div>

  <label class="mr-12" for="groups">
    Grupo
    <%= grouped_collection_select 'groups', :id, @branches, :groups, :name, :id, :name,
      selected: @group_id %>
  </label>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Group</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="sprints_body">
        <%= render 'sprints' %>
    </tbody>
  </table>

</div>
