<header>
  <div class="container pv-14 center">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to image_tag("logo.svg",alt: "Laboratoria código que transforma", class: "logo-laboratoria", width: "190"), root_path, class: "block" %>
      </div>
    </div>
  </div>
</header>
