# Environment configuration file
# ===============================
# Place all your custom keys, database configuration, an any extra environment
# configuration into this file.
#
# This example configuration assume you are working on Cloud9 site so
# everything is setup for it. Change it according to your dev configuration.

development:
    host: <%= ENV['IP'] %>
    database: capitan_development
    database_username: <%= ENV['C9_USER'] %>
    database_password:
    smtp_address:
    smtp_domain:
    smtp_username:
    smtp_password:
    email_from:
    email_reply_to:
    google_tag_manager: ~
test:
    host: <%= ENV['IP'] %>
    database: capitan_test
    database_username: <%= ENV['C9_USER'] %>
    database_password:
    smtp_address:
    smtp_domain:
    smtp_username:
    smtp_password:
    email_from:
    email_reply_to:
    google_tag_manager: ~
production:
    host: ~
    database: capitan
    database_username: capitan
    database_password: capitan
    smtp_address:
    smtp_domain:
    smtp_username:
    smtp_password:
    email_from:
    email_reply_to:
    google_tag_manager:
    SECRET_KEY_BASE: your_only_secret_is_mine
