.logo-laboratoria {
	width: 220px;
}
.form-postula{
	.subtitulo {
		h2 {
			font-size: 20px;
	    letter-spacing: 1px;
	    display: inline-block;
	    padding-left: 35px;
		}
		img {
			width: 75px;
			height: 75px;
			background-color: lightgray;
    	border-radius: 100%;
		}
	}

	.indicaciones {
		font-size: 15px;
  	font-style: italic;
  	color: #3c3c3c;
  	font-weight: 100;
	}
	.form-group {
		padding-bottom: 40px;
		label {
		  font-size: 17px;
	    font-weight: 300;
	    display: block;
	    abbr {
	    	display: none;
	    }
	    p {
	    	font-size: 15px;
	    	font-style: italic;
	    	color: #3c3c3c;
	    	font-weight: 100;
	    }
	    &.error {
	    	color: #e74c3c;
		    font-size: 14px;
		    font-style: italic;
		    padding-top: 7px;
    		line-height: 1.2;
	    }
		}
		input[type='text'], input[type='tel'], input[type='number'], input[type='email'], select {
			border: none;
	    border-bottom: 1px solid #ccc;
	    border-radius: 0px;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    padding-left: 0px;
	    font-size: 16px;
	    width: 450px;
	    &:focus {
	    	box-shadow: none;
	    	-webkit-box-shadow: none;
	    	border-color: #ccc;
	    }
		}
		select {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			background-image: url("/assets/flecha-desactivada.png");
	    background-repeat: no-repeat;
	    background-position: 99% 50%;
	    &:hover {
	    	background-image: url("/assets/flecha-activa.png");
	    }
		}
		label.radio_buttons {
			padding-bottom: 4px;
		}
		span.radio, span.checkbox {
			label {
				position: relative;
    		padding-left: 30px;
    		color: #a7a7a7;
    		padding-bottom: 5px;
    		input {
					width: 14px;
					height: 14px;
					position: absolute;
					left: 20px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					border: solid 1px #979797;
					border-radius: 100%;
					&.checked {
						background-color: #f7b617;
					}
					&:focus {
						outline: none;
					}
				}
				input[type="checkbox"] {
					border-radius: 2px;
				}
			}
		}
		span.radio.checkbox-inline {
			margin-top: 20px;
			&:last-child:after {
				content: "MUCHO";
				position: absolute;
				top: 0px;
		    left: 80px;
		    font-size: 12px;
		    font-weight: 300;
			}
			&:first-of-type {
				margin-left: 65px;
				&:before {
					content: "POCO";
					position: absolute;
					top: 0px;
			    right: 80px;
			    font-size: 12px;
			    font-weight: 300;
				}
			}
		}
		select, input {
			&.error {
				border-bottom: 1px solid #e74c3c;
    		color: #e74c3c;
			}
		}
	}
	.user_profile_birth_date {
		select {
			display: inline-block;
    	width: auto;
    	margin-right: 15px;
    	padding-right: 30px;
		}
	}
	#elige-turno {
		background-color: #f7f7f7;
		.form-group {
			margin-top: 56px;
			margin-bottom: 14px;
			p {
				line-height: 1.6;
			}
			select {
				background-color: #f7f7f7;
				background-image: url("/assets/flecha-activa.png");
			}
		}
		.form-actions input {
			background-color: #f7b617;
			border: transparent;
			font-size: 20px;
			font-weight: 300;
			color: white;
		}
	}
}
.highlight {
	color: #3c3c3c !important;
} 