.login {

  padding-top: 5%;

  h2 {
    font-size: 3.375rem;
    line-height: 1.1;
  }

  h3 {
      font-size: 1.25rem;
  }

  .btn-lg, .btn-group-lg>.btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
  }

  .btn-amarillo-lab {
    color: #fff;
    background-color: #F9A91A;
    border-color: #f39e06;
    width: 30%;
  }


  .btn-amarillo-lab:hover {
    background-color: #b37405;
    color: #f7f7f7;
    border-color: #f9a30b;
  }

  .control-label {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-control {
    height: 45px;
    border-color: #AEAEAE;
    border-radius: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }
  .radio label, .checkbox label{
    font-size: 14px;
  }
  .checkbox input {
    top: 0px;
    width: 15px;
    height: 15px;
    font-size: 14px;
    outline: transparent;
    -webkit-appearance: none;
    border: 1px solid #F9A91A;
    &:checked:after{
      outline: transparent;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -webkit-transform: rotate(7deg);
      border-left: 2px solid #F9A91A;
      border-top: 2px solid #F9A91A;
      -ms-transform: rotate(7deg);
      transform: rotateZ(219deg);
      transition: 0.5s;
      transform-origin: left top;
      position: absolute;
      display: block;
      height: 15px;
      width: 10px;
      content: '';
      left: 6px;
      top: 10px;
    }
  }
}

@media only screen and (max-width: 480px) {
    .login {
      padding-top: 20% !important;
      padding-right: 28px !important;
      padding-left: 28px !important;
      &.container-xs {
        padding: 0px !important;
      }
      .row{
        margin-right: 0px;
        margin-left: 0px;
      }
      .btn-amarillo-lab {
      width: 100%;
      }
  }
}
