.login {

  padding-top: 5%;

  h2 {
    font-size: 3.375rem;
    line-height: 1.1;
  }

  h3 {
      font-size: 1.25rem;
  }

  .btn-lg, .btn-group-lg>.btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
  }

  .btn-amarillo-lab {
    color: #fff;
    background-color: #F9A91A;
    border-color: #f39e06;
  }


  .btn-amarillo-lab:hover {
    background-color: #b37405;
    color: #f7f7f7;
    border-color: #f9a30b;
  }

  .control-label {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-control {
    height: 45px;
    border-color: #AEAEAE;
    border-radius: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .checkbox input {
    top:3px;
  }
}

@media only screen and (max-width: 480px) {

  .login {
    padding-top: 20% !important;
    padding-right: 28px !important;
    padding-left: 28px !important;
  }

  .login .container-xs {
      padding: 0px !important;
  }
}
