<% if @user.student? %>
  <h4 class="bold mv-7">Badges</h4>
  <div class="hidden-xs mb-7 separator separator-primary separator-left"></div>
  <div class="mt-21">
    <% if !@sprint_badges.empty? %>
      <% @sprint_badges.each do |key, count| %>
        <% if key != nil %>
          <div class="col-sm-2 minh-70 ph-7 badge">
              <%= image_tag key.image.url(:normal) ,alt: "coder", class: "img-circle img-responsive", width: "70" %>
              <div class="badge-count"><p><%= "x#{count}" %></p></div>
          </div>
        <% else %>
          <div class="empty-badge"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
