<% if @user.student? %>
  <h4 class="bold mt-0 mb-7 mb-14-xs text-left fs-12 text-center-xs text-uppercase pl-7">Badges</h4>
  <div class="badges">
    <% if !@sprint_badges.empty? %>
      <% @sprint_badges.each do |sp| %>
        <div class="badge">
            <%= image_tag sp[0].image.url(:normal), alt: sp[0].name, class: "img-circle img-responsive", width: "80" %>
            <div class="badge-count"><p><%= "x#{sp[1]}" %></p></div>
        </div>
      <% end %>
      <% if @sprint_badges.size < 5 %>
        <% (5 - @sprint_badges.size).times do %>
          <div class="empty-badge"></div>
        <% end %>
      <% end %>
    <% else %>
      <% 5.times do %>
        <div class="empty-badge"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
