<% if @user.student? %>
  <div class="text-center mr-28 mr-0-xs">
    <h6>TECH SKILLS</h6>
    <div class="c100 p86 small orange p0">
      <span>
        <%= "#{ percentage(@student_technical_points) }%" %>
      </span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="col-sm-12 text-center p-0">
      <p class="score mb-0">
        <span class="book"><%= @student_technical_points[:points] %></span>
        <span class="slash">/</span>
        <span class="thin gray-29"><%= @student_technical_points[:max] %></span>
      </p>
      <p class="light fs-13">points</p>
    </div>
  </div>

<% end %>
