.mt-20 {
  margin-top:20px;
}

.p-20 {
  padding: 20px;
}

.plr-20x {
  padding:20px 5%;
}

.w-135 {
    width: 135px;
}

.mr-20 {
  margin-right: 20px;
}

.bg-gray-lighter {
    background-color: #f7f7f7;
}

.fz-44 {
  font-size: 44px;
}

.lh-xs {
  line-height: 1 !important;
}

.minh-210 {
  min-height: 210px;
}