<br>
<br>
<div class="container">
  <div class="row">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <textarea id="code" name="code" placeholder="Tu código va aquí..."></textarea>
              </div>
              <div class="col-sm-6">
                  <iframe id="preview" class="preview"></iframe>
              </div>
          </div>
      </div>
  </div>
</div>