//------------------------------------
// Box model configuration variables
//
// Description: Variables that are used to create the box model classes
//
//------------------------------------
$grid-gutter-width:       28px !default;
$container-fluid:         $grid-gutter-width / 2;
$container-xs: 	          ((480px + $grid-gutter-width)) !default;
$container-tablet:        (720px + $grid-gutter-width) !default;
$container-sm:            $container-tablet !default;
$container-desktop:       (940px + $grid-gutter-width) !default;
$container-md:            $container-desktop !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg:            $container-large-desktop !default;

$breakpoints-sufix-list:  'xs', 'sm', 'md', 'lg';
$grid-breakpoints:        ( xs: 0, sm: 34em, md: 48em, lg: 62em, xl: 75em) !default;
$screen:                  "only screen" !default;
$screen-phone:            map-get($grid-breakpoints, sm);
$screen-tablet:           map-get($grid-breakpoints, md);
$screen-desktop:          map-get($grid-breakpoints, lg);
$screen-lg-desktop:       map-get($grid-breakpoints, xl);

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait:  "#{$screen} and (orientation: portrait)" !default;

$xs-only:   "#{$screen} and (max-width: #{$screen-phone})" !default;
$sm-only:   "#{$screen} and (min-width: #{$screen-phone}) and (max-width: #{$screen-tablet})" !default;
$md-only:   "#{$screen} and (min-width: #{$screen-tablet}) and (max-width: #{$screen-desktop})" !default;
$lg-only:   "#{$screen} and (min-width: #{$screen-desktop}) and (max-width: #{$screen-lg-desktop})" !default;
$sm-down:   "#{$screen} and (max-width: #{$screen-tablet})" !default;
$md-down:   "#{$screen} and (max-width: #{$screen-desktop})" !default;
$lg-down:   "#{$screen} and (max-width: #{$screen-lg-desktop})" !default;
$xs-up:     "#{$screen} and (min-width: #{$screen-phone})" !default;
$sm-up:     "#{$screen} and (min-width: #{$screen-tablet})" !default;
$md-up:     "#{$screen} and (min-width: #{$screen-desktop})" !default;
$lg-up:     "#{$screen} and (min-width: #{$screen-lg-desktop})" !default;

$media-only-list:    $xs-only, $sm-only, $md-only, $lg-only;
$media-down-list:    $sm-down, $md-down, $lg-down;
$media-up-list:      $xs-up, $sm-up, $md-up, $lg-up;
$media-control-list: $xs-only, $sm-up, $md-up, $lg-up;

$brand-primary:  #F9A91A !default;
$brand-success:  #b5bd00 !default;
$brand-info:     #00C1D5 !default;
$brand-warning:  #f0ad4e !default;
$brand-danger:   #d9534f !default;

$gray-dark:      #333333 !default;
$gray:           #3C4145 !default;
$gray-light:     #9B9B9B !default;
$gray-lighter:   #ECEEEF !default;
$gray-lightest:  #F7F7F9 !default;

$brand-colors-sufix-list: 'primary', 'success', 'info', 'warning', 'danger';
$grayscale-list: $gray-dark, $gray, $gray-light, $gray-lighter, $gray-lightest, #fff;
$grayscale-sufix-list: 'gray-dark','gray','gray-light','gray-lighter','gray-lightest','white';
$bluescale-sufix-list: 'blue-darker', 'blue-dark', 'blue', 'blue-light', 'blue-lighter';
$brand-colors-list: $brand-primary, $brand-success, $brand-info, $brand-warning, $brand-danger;
