//------------------------------------
// Separators
//
// Description: Create a separator csss
//
//------------------------------------

$separator-width-control: 210px;
$separator-height-control: 1px;

.separator {
	width: $separator-width-control;
	height: $separator-height-control;
	margin-bottom: $container-fluid;
	&.separator-xs {
		width: $separator-width-control - 70px;
	}
	&.separator-sm {
		width: $separator-width-control - 35px;
	}
	&.separator-lg {
		width: $separator-width-control + 70px;
	}
	&.separator-centered {
		margin: 0 auto;
	}
	&.separator-right {
		float: right;
	}
}

$separator-width: 28px;
$separator-height: 1px;
$separator-style: solid;
$separator-margin-top: $container-fluid / 2;
$separator-margin-bottom: $container-fluid;

@for $i from 1 through length($brand-colors-sufix-list) {
	.separator-#{nth($brand-colors-sufix-list, $i)} {
		border-top: $separator-height $separator-style #{nth($brand-colors-list, $i)} !important;
		margin-top: $separator-margin-top;
		margin-bottom: $separator-margin-bottom;
		width: $separator-width;
		width: rem($separator-width);
		height: $separator-height;
		height: rem($separator-height);
		@for $z from 1 through length($breakpoints-sufix-list) {
			&.separator-#{nth($breakpoints-sufix-list, $z)} {
				width: $separator-width * $z;
				width: rem($separator-width * $z);
			}
		}
	}
}

.separator {
	&.separator-centered {
		margin: 0 auto;
	}
	&.separator-full-width {
		width: 100%;
	}
}
