<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="courses">
        <% @courses.each_slice(2) do |courses| %>
          <div class="row">
            <% courses.each do |course| %>
              <div class="col-md-6">
                <article class="course card">
                  <div class="content">
                    <%= link_to course_path(course) do %>
                      <h2 class="title"><%= course.name %></h2>
                    <% end %>
                    <p class="description"><%= course.description %></p>
                  </div>
                </article>
              </div>
            <% end %>
          </div>
        <% end %>  
      </div>      
    </div>
  </div>
</div>


