<div class="container">
    <div class="p-20">
        <div class="page-header clearfix">
            <h1>Nuevo Curso</h1>    
        </div>
        <%= render :partial => 'form' %>
    </div>
</div>

