.skills {

  h2 {
    margin-bottom: 0px;
    font-size: 19px;
    font-weight: bold;
    color: #4a4a4a
  }

  .title-separator {
    background-color: #f7b617;
    height: 2px;
    width: 12px;
    margin: 7px 0px 28px;
  }

  h3 {
    font-size: 19px;
    color: #000000;
  }

  h3.title {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h3.secondary-title {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  p {
    font-size: 26px;
    line-height: 1.3;
    color: #3c3c3c;
  }

  .progress-separator {
    margin-bottom: 36px;
  }

  .progress {
    position: relative;
    overflow: visible;
    height: 28px;
    background-color: #ffffff;
    border: solid 0.3px #A5A5A5;
    margin-bottom: 36px;
    border-radius: 0;

    .progress-bar {
      font-size: 15px;
      color: #fff;
      line-height: 28px;
      text-align: left;
      padding-left: 5px;
    }

    .progress-bar.gray {
      background-color: #4a4a4a;
    }

    .progress-bar.yellow {
      background-color: #f7b617;
    }

    .avg {
      position: absolute;
      top: -7px;
      height: 36px;
      width: 0px;
    }

    .avg.gray {
      border-left: 3px solid #979797;
    }

    .avg.yellow {
      border-left: 3px solid #f7b617;
    }

    .avg div {
      position: absolute;
      padding: 4px 9px;
      background-color: #f3f3f3;
      font-size: 13px;
      color: #4a4a4a;
      top: -30px;
      width: 90px;
      left: -47px;
      text-transform: uppercase;
    }
  }

  .progress.yellow {
    border: solid 0.3px #f7b617;
  }
}

@media (max-width: 768px) {
  .skills {
    p {
      font-size: 18px;
    }

    h3 {
      font-size: 17px;
    }

    h3.secondary-title {
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .skills {
    img {
      float: left;
      margin-right: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 50px;
    }

    .progress {
      margin-bottom: 45px;
      .avg div {
        top: 39px;
      }
    }

  }
  .mlp-33-xs {
    margin-left: 33.33333333%;
  }
  #coder-profile {
    .badge {
      width: 100px;
    }
  }
}
