/*
*= require twitter-bootstrap-static/bootstrap
*= require twitter-bootstrap-static/fontawesome
*= require font-awesome 
*= require bootstrap-social
*= require_self
 */
 
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body {
	margin:0;
	padding:0;
	height:100%;  
}
 
 body {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #3E3F40;
  background-color: #F0F0F0;
}

.wrapper {
	min-height:100%;
	position:relative;  
}

.content {
	position:relative;  
  padding: 0% 25% 90px;
}

.navbar {
  margin: 0;
  border: 0px;
}

.navbar-default {
  background-color: #333333;
  border-color: transparent;
}

.navbar-default .navbar-collapse {
  padding: 1.5% 2%;
}

.navbar-brand {
  padding: 0px;
  width: 328px;
  line-height: 50px;
  font-weight: 300;
  font-size: 170%;
  color: #fff !important;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar-brand img {
	padding: 0;
	margin-right: 10px;
	float: left;
}

.collapse img {
	width: 40px;
	height: 40px;
}

footer{
	background-color: #333333;
	color: white;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
}

footer h5 {
  line-height: 60px;
  margin:0px;
}


.login-title {
  color: #F9A91A;
  font-size: 3.5em;
  margin:0px;
  padding: 15% 0% 7%;
}

.update-field-title {
  color: #F9A91A;
  font-size: 2em;
  font-weight: bold;
  margin:0px;
  padding: 2% 0%;
}


.form-session {
    max-width: 60%;
    margin: 0 auto;
}

.login-form-session {
    max-width: 45%;
    margin: 0 auto;
}

.control-label {
  display: block;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 5px;    
}

.form-control {
  height: 45px;
}

@media(max-width:767px){
  .content {
  	position:relative;  
    padding: 0% 0% 60px;
  }
  
  .form-session {
    max-width: 80%;
  }
}


/* Utilities */

.center {
    text-align: center;
}

.thin {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 100;
  font-style: normal;
}

.light {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  font-style: normal;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}