@import "modules/mixins.scss";
@import "modules/globals.scss";
@import "modules/helpers.scss";
@import "modules/base.scss";
@import "modules/variables.scss";
@import "modules/container-control.scss";
@import "modules/setup-text.scss";
@import "modules/separators.scss";
@import "modules/box-model-control.scss";
@import "modules/breakpoints-model-control.scss";
@import "pages/layouts/header.scss";
@import "pages/layouts/footer.scss";
@import "pages/courses.scss";
@import "pages/pages.scss";
@import "pages/dashboard.scss";
@import "pages/responsive.scss";
@import "pages/profile.scss";
