* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body {
	margin:0;
	padding:0;
	height:100%;  
}

body {
    color: #393d40;
	  background: #f6f8f8;
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    position: relative;    
}

.wrapper {
	min-height:100%;
	position:relative;  
}

.container {
  padding-bottom: 60px;
}

.navbar {
  margin: 0;
  border: 0px;
}

.navbar-default {
  background-color: #333333;
  border-color: transparent;
}

.navbar-default a {
  color: white !important;
}

.navbar-brand {
  padding: 0px;
  width: 328px;
  line-height: 50px;
  font-weight: 300;
  font-size: 170%;
  color: #fff !important;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar-brand img {
	padding: 0;
	margin-right: 10px;
	float: left;
}

.collapse img {
	width: 40px;
	height: 40px;
}

.dropdown-menu a {
    color: #333 !important;
}

.dropdown-toggle, .dropdown-toggle:hover {
  background-color: #F9A91A;
}

footer{
	background-color: #333333;
	color: white;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
}

footer h5 {
  line-height: 60px;
  margin:0px;
}

/*common */
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #9c4c9d;
    color: #fff;
}
::-moz-selection {
    background: #9c4c9d;
    color: #fff;
}

.page-header {
    margin: 0px 0px 20px 0px;
}

.btn-new {
  margin-top: 20px;
}

.courses {
    margin-top: 40px;
} 

.card {
  border: 1px solid rgba(0,0,0,0.3);
  background: #f7f7f7;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);  
  padding: 1.25em;  
}

article.course {
  margin-bottom: 1.25em;
  min-height: 140px;
  overflow: hidden;
}

.avatar {
  background: #fff;
  border-radius: 50%;
  display: block;
  height: 110px;
  padding: 0.3125em;
  position: relative;
  width: 110px;
}

.course-avatar {
  bottom: auto;
  left: 5px;
  position: absolute;
  right: auto;
  top: -2px;
  z-index: 2;
}

article.course .content {
  margin-top:0px;
  padding-right: 1.25em;
  position: relative;
  z-index: 3;
}

article.course .content .title {
  font-size: 115%;
  margin-top: 0px;
  margin-bottom: 0.3125em;
  border: 0;
  color: #585a5b;
  padding-right: 0.3125em;  
}

article.course .content .description {
  font-size: 85%;
  margin-bottom: 0;
}

article.course .commands {
  position:absolute;
  right: 25px;
  top: 5px;
}

article.course .commands a:hover {
  text-decoration: none;  
}

.course-header {
  border-top: 1px solid;
  padding: 4em 50px;
}

.course-header .content {
  color: white;
  max-width: 75em;
  position: relative;
}

.course-header .content h1 {
  font-weight: bold;
}

.course-header .content img {
  max-width: 100%;
}

.discuss {
  min-height:80px;
}

.discuss a {
  border-radius: 100px;
  margin-top: 20px;
}

.unidades {
  min-height: 100px;
}

.wizzard-row {
  margin-top: 20px;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -moz-flex;
  table-layout: fixed;
  margin-left: -15px;
  margin-right: -15px;
  white-space: nowrap;
  counter-reset: steps;
}

.wizzard-row div {
  counter-increment: steps;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-block;
}

.column {
  border: 1px solid #ccc;
  margin: 0 1px 0px 0px;
  text-align: center;
  display: block;
  background: #EFEFEF;
  white-space: nowrap;
  height: 30px;
}

.column a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.column.active {
  background: grey;
}


.video-title {
  margin-bottom: 40px;
}

.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    display: inline-block;
    position: relative;
    width:100%;
}
.video-overlay {
    position:absolute;
    float:left;
    width:100%;
    min-height:100%;
    background-color:#f6f8f8;
    z-index:300000;
}

.video-overlay .btn {
  margin-top: 10%;
}

video {
    width: 100%;
    height: 100%;
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty { outline: 1px solid #c22; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.preview {
    width: 100%;
    height: 300px;
    background: white;
    border: 1px solid;
}

.instructions {
  margin-bottom:20px;
}

.viewed {
  background-color: #A9A9A9;
}

.form-group {
  margin-bottom: 0px;
}

.questions-slider {
  background-color: #EEEEEE;
  min-height: 350px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.page_question_groups_sequence {
  width: 80px;
}

.questions_fields {
  padding: 20px 0px 20px 20px;
}

.questions_fields td {
  padding: 5px;
}

