* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,body {
	margin:0;
	padding:0;
	height:100%;  
}

body {
    color: #393d40;
	  background: #fff;
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    position: relative;    
}

.wrapper {
	min-height:100%;
	position:relative;  
}

.container {
  padding-bottom: 60px;
}

.navbar {
  margin: 0;
  border: 0px;
}

.navbar-default {
  background-color: #323232;
  border-color: transparent;
}

.navbar-default a {
  color: white !important;
}

.navbar-brand {
  padding: 0px;
  /*width: 328px;*/
  line-height: 50px;
  font-weight: 300;
  font-size: 150%;
  color: #fff !important;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar-brand img {
	padding: 0;
	margin-right: 10px;
	float: left;
}

.collapse img {
	width: 40px;
	height: 40px;
}

.dropdown-menu a {
    color: #333 !important;
}

.dropdown-toggle, .dropdown-toggle:hover {
  background-color: #F9A91A !important;
}

footer{
	background-color: #BBBBBB;
	color: white;
	width:100%;
	height:53px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: right;
}

footer h5 {
  line-height: 53px;
  margin: 0px 20px 0px 0px;
}

/*common */
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #9c4c9d;
    color: #fff;
}
::-moz-selection {
    background: #9c4c9d;
    color: #fff;
}

.page-header {
    margin: 0px 0px 20px 0px;
}

.btn-new {
  margin-top: 20px;
}

.courses {
    margin-top: 40px;
}

.panel a {
  font-weight: 300;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white;
}

.card {
  border: 1px solid rgba(0,0,0,0.3);
  background: #f7f7f7;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);  
  padding: 1.25em;
}

article.course {
  margin-bottom: 1.25em;
  min-height: 140px;
  overflow: hidden;
}

.avatar {
  background: #fff;
  border-radius: 50%;
  display: block;
  height: 110px;
  padding: 0.3125em;
  position: relative;
  width: 110px;
}

.course-avatar {
  bottom: auto;
  left: 5px;
  position: absolute;
  right: auto;
  top: -2px;
  z-index: 2;
}

article.course .content {
  margin-top:0px;
  padding-right: 1.25em;
  position: relative;
  z-index: 3;
}

article.course .content .title {
  font-size: 115%;
  margin-top: 0px;
  margin-bottom: 0.3125em;
  border: 0;
  color: #585a5b;
  padding-right: 0.3125em;  
}

article.course .content .description {
  font-size: 85%;
  margin-bottom: 0;
}

article.course .commands {
  position:absolute;
  right: 25px;
  top: 5px;
}

article.course .commands a:hover {
  text-decoration: none;  
}

.course-header {
  border-top: 1px solid;
  padding: 4em 50px 0em;
  margin-bottom: 30px;
}

.course-header .content {
  color: white;
  max-width: 75em;
  position: relative;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.course-header .content a {
  font-weight: 300;
  font-size: 18px;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white;
}

.course-header .content i {
  vertical-align: middle;
  margin-right: 10px;
}

.course-header .content h1 {
  font-size: 36px;
}

.course-header .content h4 {
  font-weight: 300;
}

.course-header .content img {
  max-width: 100%;
}

.units-container {
  min-height: 100px;
}

.units-container .units ol {
  list-style:none;
}

.units-container .units .unit {
  margin-bottom: 60px;
  border-bottom: 1px dashed #eee;
}

.units-container .units ol .progress-item {
  font-size: 17px;
  font-weight: 300;
  /*height: 45px;*/
  line-height: 45px;
  position: relative;
  margin-top: 19px;
}

.units-container .units ol .progress-item i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
}

.units-container .progress-item .fa-code {
  font-size: 26px !important;
}

.units-container .units .overview h2 {
  margin-top: 0px;
  font-size: 25px;
}

.units-container .units .content-box {
  padding: 0px 20px;
}

.discuss {
  min-height:80px;
}

.discuss a {
  border-radius: 100px;
  margin-top: 20px;
}

.page {
  display: table;
  padding: 0 0 53px 0;
  width: 100%;
  position: relative;
}

.page .navigation {
  display: table-cell;
  max-width: 300px;
  min-width: 300px;
  position: static;
  transition: max-width 200ms;
  vertical-align: top;
  z-index: 10;
  background-color:#EEEEEE;
}

.page .navigation:before {
  content: "";
  display: block;
  width: 300px;
  position: fixed;
  bottom: 0px;
  top: 0px;
  z-index: -1;
  background-color: #EEEEEE; 
}

.page .content {
    padding: 0;
    position: relative;
    background-color: white;
    display: table-cell;
    width: 100%;
    z-index: 21;    
}


.page .navigation .breadcrumb {
    display: block;
    line-height: 1.3;
    margin: 10px 0 0;
    font-size: 18px;
    background-color:#EEE;
    padding-bottom: 15px;
}

.page .navigation .breadcrumb h2 {
  margin-bottom: 0;  
}

.page .navigation .breadcrumb a {
  color: #606060;
}
.page .navigation .breadcrumb i {
  margin-right: 0px;
  font-size:18px;
  display: inline-block;
}

.page .navigation .units {
  list-style: none;
}

.page .navigation .units .unit-item {
  width: 100%;
  position: relative;
}

.page .navigation .units .unit-item .item {
  font-weight: 300;
  padding-left: 10px;
  width: 100%;
  display: table;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid transparent;
  border-right: 0;
}

.page .navigation .units .unit-item .item .icon {
  display: table-cell;
  vertical-align: middle;
  width: 40px;
}

.page .navigation .units .unit-item .item .page-title {
  display:table-cell;
  box-sizing: border-box;
  min-height: 40px;
  padding: 15px;
  vertical-align: middle;
  line-height: 20px;
}

.page .navigation .units .unit-item .item .icon i {
  font-size: 25px;
  width: 40px;
  padding: 15px;
}

.page .navigation .units .active {
  background-color: white;
}

.page .content .page-title {
  margin: 30px 0px 0px;
  padding: 20px 20px 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.page .content .outer-container {
  padding: 40px 0px;
  min-height: 500px;
  background-color: white;
}

.column {
  border: 1px solid #ccc;
  margin: 0 1px 0px 0px;
  text-align: center;
  display: block;
  background: #EFEFEF;
  white-space: nowrap;
  height: 30px;
}

.column a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.column.active {
  background: grey;
}


.video-title {
  margin-bottom: 40px;
}

.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    display: inline-block;
    position: relative;
    width:100%;
}
.video-overlay {
    position:absolute;
    float:left;
    width:100%;
    min-height:100%;
    background-color:#f6f8f8;
    z-index:300000;
}

.video-overlay .btn {
  margin-top: 10%;
}

video {
    width: 100%;
    height: 100%;
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty { outline: 1px solid #c22; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.preview {
    width: 100%;
    height: 300px;
    background: white;
    border: 1px solid silver;
}

.instructions h1,
.instructions h2,
.instructions h3,
.exercise_instructions h1,
.exercise_instructions h2,
.exercise_instructions h3 {
  color: #F5A829;
  margin-bottom:20px;
}

.instructions li {
  padding: 10px 0px;
}

.instructions ol {
  margin-bottom: 10px;
}

.instructions ol {
    counter-reset: item;
}
.instructions ol li { 
  display: block }

.instructions ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    padding-right:15px;
}

.instructions, .exercise_instructions {
  margin-bottom:20px;
}

.instructions ol, .exercise_instructions ol {
  margin-left: 22px;
}

.exercise_instructions img {
  max-width: 100%;
}

.viewed {
  color: #606060;
}

.viewed:hover {
  color: #373737;
}

.red-viewed {
  color: #c0392b;
}

.form-group {
  margin-bottom: 0px;
}

.questions-slider {
  min-height: 350px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.page_question_groups_sequence {
  width: 80px;
}

.questions_fields {
  padding: 20px 0px 20px 20px;
}

.questions_fields td {
  padding: 5px;
}

.page_question_groups_points {
  width: 60px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #F7B617;
}

.dropdown-menu>li>a:hover {
  background-color: #F7B617;
}

.admin-nav {
  height: 60px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #F7B617;
}

.admin-nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.admin-nav ul li {
  float: left;
}

.dashboard {
  display: table;
  padding: 0 0 53px 0;
  width: 100%;
  position: relative;
}

.dashboard .navigation {
  display: table-cell;
  max-width: 200px;
  min-width: 200px;
  position: static;
  transition: max-width 200ms;
  border-right: 1px solid #ccc;
  vertical-align: top;
  z-index: 10;
  background-color:#F2F2F2;
}

.dashboard .navigation:before {
  content: "";
  display: block;
  width: 200px;
  position: fixed;
  bottom: 0px;
  top: 0px;
  z-index: -1;
  border-right: 1px solid #ccc;
  background-color: #F2F2F2; 
}

.dashboard .content {
    padding: 0;
    position: relative;
    background-color: white;
    display: table-cell;
    width: 100%;
    z-index: 21;    
}

.dashboard .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard .navigation ul li {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid #FCFCFC;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    line-height: 20px;
}

.dashboard .navigation ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color: #585858;
    text-shadow: none !important;
    font-size: 15px;
    text-decoration: none;
}

.dashboard .navigation ul > li > a > i {
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;  
}

.breakline {
  border: 1px solid #F5A829;
  width: 20px;
  margin: 0px auto;
}

.btn {
  border-radius: 2px;
  -webkit-box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
  -moz-box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
  box-shadow: 6px 9px 18px -4px rgba(205,204,204,1);
}

.nav-divider {
  border-top: 1px solid #ccc;
  margin: 5px 0px;
}

.unit-title {
  padding: 15px 5px 15px 10px;
  border-bottom: 1px solid #ccc;
  margin: 0px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  font-size: 18px;  
}

.editors {
  margin-bottom:30px;
  font-size: 18px;
}

.editor-notes .yellow {
  color: #F5A829;
  text-transform: uppercase;
}

.actions {
  margin-top:60px;
}

.actions .btn {
  text-transform: uppercase;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
}

.check-video-again {
  background-color: #606060;
  margin-right: 20px;
}

.start-over {
  background-color: #009688;
  margin-right: 20px;
}

.save {
  background-color: #62D1B7;
}

.mt-20 {
  margin-top:20px;
}

.p-20 {
  padding: 20px;
}

.pr-0 {
  padding-right: 0px;
}

.plr-20x {
  padding:20px 5%;
}

.w-135 {
    width: 135px;
}

/* Override to codeMirror */
.CodeMirror {
  border-radius: 0px;
  padding:0px;
}

.CM-disabled {
  background-color: #eee;
}

.video-solution {
  float:left;
  margin-right: 20px;
}
