<% content_for :scripts do %>
  <script>
    $(".dropdown-toggle").dropdown();
  </script>
<% end %>
<header class="navbar" id="header-navbar">
  <div class="container">
    <%= link_to "Panel de admintración", root_path, class: "navbar-brand", id: "logo" %>
    <div class="clearfix">
      <div class="nav-no-collapse pull-right" id="header-nav">
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-power-off"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
