<div class="container">
    <div class="p-20">
        <div class="page-header clearfix">
            <h1 class="pull-left">Nuevo Review</h1>  
            <div class="pull-right">
                <%= link_to 'Nueva Pregunta', new_question_path, :class => "btn btn-primary btn-new" %>
            </div>  
        </div>
        <%= render :partial => 'form' %>
    </div>
</div>