<div data-page-type="quiz|retrospective" class="<%="hidden" unless ["quiz","retrospective"].include?(@page.page_type)%>"
    data-page-active="<%= "true" if ["quiz","retrospective"].include?(@page.page_type) %>">
  <%= f.input :quiz_url %><br>
</div>