$(function () {
  $('#point-summary-container').highcharts({
    chart: {
      plotBackgroundColor: "#ededed",
      plotBorderWidth: 0,
      plotShadow: false,
      backgroundColor: "#ededed",
      events: {
          load: function () {
              var chart = this;
              if (!chart.hasData()) {
                  var r = Math.min(chart.plotWidth / 2, chart.plotHeight / 2),
                      y = chart.plotHeight / 2 + chart.plotTop,
                      x = chart.plotWidth / 2 + chart.plotLeft;
                  chart.pieOutline = chart.renderer.circle(x, y, r).attr({
                      fill: '#eee',
                      stroke: '#4a4a4a',
                          'stroke-width': 1
                  }).add();
                  chart.title.textSetter('');
              }
          },
          redraw: function () {
              var chart = this;
              if (chart.pieOutline && chart.pieOutline.element) {
                  if (chart.hasData()) {
                      chart.pieOutline.destroy();
                  }
                  else {
                    var r = Math.min(chart.plotWidth / 2, chart.plotHeight / 2),
                        y = chart.plotHeight / 2 + chart.plotTop,
                        x = chart.plotWidth / 2 + chart.plotLeft;
                    chart.pieOutline.attr({
                      cx: x,
                      cy: y,
                      r: r
                    });
                    chart.title.textSetter('');
                  }
              }
              else if(!chart.hasData()) {
                var r = Math.min(chart.plotWidth / 2, chart.plotHeight / 2),
                    y = chart.plotHeight / 2 + chart.plotTop,
                    x = chart.plotWidth / 2 + chart.plotLeft;
                chart.pieOutline = chart.renderer.circle(x, y, r).attr({
                  fill: '#eee',
                  stroke: '#4a4a4a',
                  'stroke-width': 1
                }).add();
                chart.title.textSetter('');
              }
          }
      }
    },
    title: {
      text: '<div style="color:#444;font-size:24px"><%= @max_student_points %></div>puntos',
      align: 'center',
      verticalAlign: 'middle',
      useHTML: true,
      y: 10,
      style: {
        color: '#888',
        textAlign: 'center',
        fontSize: '20px',
        fontFamily: "museo-sans"
      }
    },
    credits: {
      enabled: false
   },
    tooltip: {
      formatter: function() {
        return "<b>" + this.point.student_marks + "</b> / " + 
               (this.point.name != "badges" ? this.point.y : "N/A");
      },
      fontFamily: "museo-sans"
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          distance: 25,
          style: {
            color: '#4a4a4a',
            textShadow: 0,
            fontSize: '14px',
            fontFamily: "museo-sans",
            fontWeight: 300
          }
        },
        center: ['50%', '55%']
      }
    },
    series: [{
      type: 'pie',
      name: "Quizzes",
      innerSize: '80%',
      data: <%= raw @data.to_json %>,
      color: '#4a4a4a',
      animation: {
        duration: 1500,
        easing: 'easeOutBounce'
      }
    }]
  });

  var chart = $('#point-summary-container').highcharts();
  var colors = ['#66B26D', '#4790C8', '#E2BA39',
                '#D2813A', '#CD5C48', '#795299',
                '#AC4937','#E09A37', '#BE5E29'
              ];
  var i = 0;
  chart.series[0].data.forEach(function(data){
    data.update({color: colors[i]});
    i++;
  });
});
