  <div class="container-md pv-56">
    <h4 class="bold mb-7 text-center">avance</h4>
    <div class="hidden-xs mb-7 separator separator-primary separator-centered"></div>
    <div class="light text-center mv-35 font-big">
    	conoce tus logros en relación a tu promoción
    </div>
    <div class="row pt-28">
    	<div class="col-sm-6 col-sm-offset-3">
    		<div id="points-comprative-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    	</div>
    </div>
 </div>