<% content_for :scripts do %>
  <script>
    $(function() {
      $("#terms-conditions").prop("checked",false);
      $("#sign-up-link").removeClass("disabled").addClass("disabled");
      $("#terms-conditions").change(function() {
        $("#sign-up-link").toggleClass("disabled");
      });
    });
  </script>
<% end %>
<section class="admission-banner" style="background-image: url(/assets/hero-img-postula.jpg)">
  <div class="opacity"></div>
  <h1 class="thin text-white text-center">¡Bienvenida al proceso de selección para ser parte de la promoción 2017-1 de Laboratoria!</h1>
</section>
<section class="admission-instructions">
  <div class="container-sm pt-70 pb-7 mt-14 text-justify">
      <p class="pb-28">Estos son algunos aspectos importantes que debes considerar:</p>
      <ul>
        <li class="pb-28">
          <b>Este es el primer paso para iniciar la primera etapa de selección</b>.
          Solo debes llenar este formulario que consta de 37 preguntas, el
          <b>tiempo aproximado para completarlo es de 30 minutos</b>.
          Al final, tendrás que elegir el turno en el que asistirás a la
          sesión de exámenes en Laboratoria. Finalmente, al darle clic a
          "Enviar respuestas" se generará tu código de postulante. Tanto tu código
          como el turno que elegiste llegarán automáticamente al correo electrónico
          que proporcionaste en el formulario junto con más información sobre el
          siguiente paso para completar el proceso de selección.
        </li>
        <li class="pb-28">
          Es importante que llenes este formulario inmediatamente después de
          inscribirte en nuestra página web. Es simple y <b>es indispensable que hayas
          completado este paso para poder rendir los exámenes presenciales en Laboratoria</b>.
          Sin embargo, si por alguna razón no puedes completarlo en este momento te
          hemos enviado el enlace a esta página al correo electrónico que
          proporcionaste para que lo puedas hacer luego.
        </li>
        <li class="pb-28">
          <b>Toda información que nos brindes es confidencial</b> y aportará mucho
          valor al estudio de impacto que realizamos en Laboratoria,ya que nos
          permite conocer el perfil de todas las postulantes al programa y
          hacer mejoras constantemente.
        </li>
        <li class="pb-28">
          Finalmente, queremos agradecerte por animarte a dar el primer paso y
          postular a nuestro programa. Estamos seguros de tu talento y nos alegra
          saber que haya jóvenes como tú que buscan llevar su potencial al máximo.
        </li>
      </ul>
      <h2>El <img src="/assets/admission/honor.png"> de laboratoria</h2>
      <p>En Laboratoria estamos orgullosos de tener un Código de Honor que resuma los valores y visión que caracterizan tanto al equipo como a las estudiantes que recibimos. Es importante para nosotros que leas este extracto y te comprometas a respetarlo antes que empieces el proceso de selección.</p>
  </div>
</section>
<section class="admission-terms">
  <div class="container-sm pb-70 mb-42">
    <div>
      <h3 class="pl-28 mb-7">Manifiesto n°2</h3>
      <input id="terms-conditions" type="checkbox"/>
      <label for="terms-conditions" class="text-justify">
        La honestidad es parte fundamental del trabajo en equipo y uno de los valores más importantes de la cultura Laboratoria. Admiramos la transparencia en cada proceso o actividad que realizamos dentro y fuera de esta institución. Entendemos que en caso no se respete podría afectar nuestra permanencia.</label>
        <p class="pl-28"><i><span class="book">Texto guía:</span> Debes marcar la casilla para activar esta opción.</i></p>
    </div>
    <a id="sign-up-link" class="btn btn-default btn-block text-white pv-21 mt-28 disabled" href="/signup">empezar →</a>
  </div>
</section>
