<section class="gracias">
	<div class="container-sm text-center mt-42 ph-42">
		<div class="texto">
			<h1 class="pb-21">¡Gracias!</h1>
			<p class="mb-0">Has completado satisfactoriamente este formulario</p>
			<p>En unos minutos recibirás un correo de confirmación con el turno que elegiste para los exámenes y tu código de postulante. Si esto no ocurre, por favor escribe a sumate@laboratoria.la para poder enviarte la información.</p>
		</div>
	</div>
</section>
