<% content_for :scripts do %>
  <script>
    $(function() {
      $("#terms-conditions").change(function() {

      });
    });
  </script>
<% end %>

<!-- TODO: Crear el css adecuado para esta pagina, aqui solo pongo las clases
como referencia, al final eliminar este comentario -->
<section class="admission-banner" style="background-image: url(/assets/hero-img-postula.jpg)">
  <div class="opacity"></div>
  <h1 class="thin text-white text-center">!Bienvenida al proceso de selección para ser parte de la promoción 2017-1 Laboratoria!</h1>
</section>
<section class="admission-instructions">
  <div class="container-sm pt-70 pb-42 mt-14 text-justify">
      <p class="pb-14">Este es el primer paso para iniciar la primera etapa de selección.</br>
        Solo debes llenar este formulario que consta de 34 preguntas, el
        tiempo aproximado para completarlo es de 20 minutos.
        Cuando termines, tendrás que elegir el turno en el que asistirás a la
        sesión de exámenes en Laboratoria. Finalmente, al darle cpc a
        "Enviar respuestas", se generará tu código de postulante. Tanto tu código
        como el turno que elegiste llegarán automáticamente al correo electrónico
        que proporcionaste en el formulario junto con más información sobre el
        siguiente paso.</p>
      <p class="pb-14">Es importante que llenes este formulario inmediatamente después de
        inscribirte en nuestra página web. Es simple y es indispensable que hayas
        completado este paso para poder rendir los exámenes presenciales en Laboratoria.
        Sin embargo, si por alguna razón no puedes completarlo en este momento te
        hemos enviado el enlace a esta página al correo electrónico que
        proporcionaste para que lo puedas hacer luego.</p>
      <p class="pb-14">Toda información que nos brindes es confidencial y aportará mucho
        valor al estudio de impacto que reapzamos desde Laboratoria,ya que nos
        permite conocer el perfil de todas las postulantes al programa y
        hacer mejoras constantemente.</p>
      <p class="pb-14">Finalmente, queremos agradecerte por animarte a dar el primer paso y postular a nuestro programa. Estamos seguros de tu talento y nos alegra saber que haya
        jóvenes como tú que buscan llevar su potencial al máximo.</p>
  </div>
</section>
<section class="admission-terms">
  <div class="container-sm pb-70 mb-42">
    <div>
      <input id="terms-conditions" type="checkbox"/>
      <!-- inhabilitar el link a empezar y habilitarlo cuando se hace check en este checkbox -->
      <p class="text-justify">Me comprometo a ser totalmente sincera con mis respuestas y completar este
        formulario con información veraz, con el fin de lograr un proceso de selección
        transparente. Entiendo que la honestidad es uno de los valores más importantes
        de la cultura Laboratoria; y en caso de no respetarlo, estoy al tanto de que
        podría afectar mi postulación.</p>
    </div>
    <a id="sign-up-link" class="btn btn-default btn-block text-white pv-21 mt-56" href="/users/sign_up">empezar</a>
  </div>
</section>