<% content_for :meta do %>
  <meta property='og:url' content='http://capitan-dev.laboratoria.la/admission'>
  <meta property='og:type' content='website' >
  <meta property='og:title' content='Sé parte de la próxima promoción de laboratoria'>
  <meta property='og:description' content='Ingresa a la siguiente dirección para inscribirte para ser parte de la siguiente promoción de laboratoria'>
  <meta property='og:image' content='http://capitan-dev.laboratoria.la/assets/hero-img-postula-2ab99126d194334cb4c9d2f7acea1d1be6461d56ce029b7772516a8922a5d44c.jpg'>
<% end %>
<section class="admission-banner">
  <div class="opacity"></div>
  <h1 class="thin text-white text-center">¡Bienvenida al proceso de selección para ser parte de Laboratoria!</h1>
</section>
<section class="admission-instructions">
  <div class="container-sm pt-70 pb-7 mt-14 text-justify">
      <p class="pb-28">Estos son algunos aspectos importantes que debes considerar. Por favor lee con atención:</p>
      <ul>
        <li class="pb-28">
          <b>Este es el primer paso para iniciar la etapa de selección</b>.
          Solo debes llenar este formulario que consta de 24 preguntas. El
          <b>tiempo aproximado para completarlo es de 30 minutos</b>. Al final,
          tendrás que elegir el turno en el que asistirás a la sesión de exámenes
          en Laboratoria.
        </li>
        <li>
          Al darle clic a "Enviar respuestas" se generará tu código de postulante.
          Tu código y el turno que elegiste llegarán automáticamente al
          correo electrónico que proporcionaste en el cuestionario,
          junto con más información sobre el siguiente paso para completar el
          proceso de selección.
        </li>
        <li class="pb-28">
         <b>Es indispensable que hayas completado este formulario para poder
           rendir los exámenes presenciales en Laboratoria</b>.
           Si por alguna razón no puedes completarlo en este momento, te hemos
           enviado el enlace a esta página al correo electrónico que
           proporcionaste, para que lo puedas hacer luego.
        </li>
        <li class="pb-28">
          <b>Toda información que nos brindes es confidencial</b> y aportará mucho
          valor al estudio de impacto que realizamos en Laboratoria, ya que nos
          permite conocer con exactitud el perfil de todas las postulantes al programa.
        </li>
      </ul>
      <p class="pb-28">
        Queremos agradecerte por animarte a dar el primer paso y
        postular a nuestro programa. Confiamos en tu talento y nos alegra
        saber que existan jóvenes como tú que buscan llevar su potencial al máximo.
      </p>
      <p class="pb-28">
        <b>Únete al grupo oficial del proceso de selección 2017-1 en Facebook haciendo
         <a href="https://www.facebook.com/groups/1673472566298190/" style="text-decoration:underline;">clic aquí</a>
        ¡Haz consultas, mira testimonios y entérate de más!</b>
      </p>
      <h2>El &lt;Código de Honor&gt; de Laboratoria</h2>
      <p>En Laboratoria tenemos un Código de Honor que resume
        la visión y los valores que caracterizan tanto al equipo, como a las estudiantes
        de Laboratoria. Es importante para nosotros que leas este extracto y te
        comprometas a respetarlo durante todo el proceso de selección.</p>
  </div>
</section>
<section class="admission-terms">
  <div class="container-sm pb-70 mb-42">
    <div>
      <h3 class="mb-7"><b>Manifiesto n°2</b></h3>
      <p class="text-justify">
      La honestidad es parte fundamental del trabajo en equipo y uno de los valores
      más importantes de la cultura Laboratoria. Admiramos la transparencia en cada
      proceso o actividad que realizamos dentro y fuera de esta institución.
      Entendemos que en caso no se respete podría afectar nuestra permanencia en Laboratoria.
      </p>
      <p><b><i>Debes marcar la casilla para activar esta opción.</i></b></p>
      <div class="terms-conditions">
        <input id="terms-conditions" type="checkbox"/>
        <label for="terms-conditions">Me comprometo a respetar este extracto del
          código de honor, respondiendo honestamente todas las preguntas dentro
          de este formulario de postulación</label>
      </div>
    </div>
    <a id="sign-up-link" class="btn btn-default btn-block text-white pv-21 mt-28 disabled" href="/signup">empezar →</a>
  </div>
</section>
<% content_for :scripts do %>
  <script>
    $(function() {
      $("#terms-conditions").prop("checked",false);
      $("#sign-up-link").removeClass("disabled").addClass("disabled");
      $("#terms-conditions").change(function() {
        $("#sign-up-link").toggleClass("disabled");
      });
    });
  </script>
<% end %>
