<section>
  <div class="bg-selection">
    <div class="overlay flex-center">
      <h1 class="light">
        ¡Bienvenidas!
      </h1>
      <%= image_tag 'arrow.png' %>

    </div>

  </div>
</section>
<section id="content">
  <div class="container-sm">
    <p>
      Gracias por venir a dar las pruebas el día de hoy.
    </p>
    <p>
      A continuación, encontrarás los títulos de cada prueba.
      Al costado de cada una, vas a encontrar el tiempo máximo que deberías invertir respectivamente para que puedas acabar toda la sesión a tiempo.
    </p>
    <p>
      Tienes que dar clic a los títulos y realizar las pruebas en el orden en el que están presentadas.
      Cuando acabes una prueba, continúa con la siguiente. Una vez que cierres una prueba, no podrás cambiar tus respuestas, por lo que asegúrate de revisarlas bien antes de enviarlas.
    </p>
    <p>
      Las pruebas están divididas en 2 tipos: los cuestionarios y los exámenes.
      Los cuestionarios nos sirven para conocerte mejor, en estas pruebas no hay respuestas buenas ni respuestas malas, por lo que te pedimos que seas lo más sincera posible.
      Los cuestionarios son las pruebas número 1, 4 y 5. Los exámenes nos sirven para medir habilidades lógicas y cognitivas, y son las pruebas número 2 y 3. Hay preguntas que tienen un alto nivel de dificultad, así que no te frustres si no logras responderlas todas, ¡sólo preocúpate de dar lo mejor de ti!
    </p>
    <p>
      Si tienes alguna duda, puedes pedir ayuda a quien esté encargada de la sesión de pruebas.
    </p>
    <p>
      Que la fuerza esté contigo.
    </p>
  </div>
  <div class="container-sm links-postula">
    <div class="row m-0">
      <div class="col-sm-10">
        <ol>
          <li class="bold">
            <a href="http://insead.eu.qualtrics.com/SE/?SID=SV_3rQOMdZzbzi9OND" target="_blank" class="border-bottom text-uppercase">
              Cuestionario Base (Parte 1)</a>
          </li>
          <li class="bold">
            <a href="http://insead.eu.qualtrics.com/SE/?SID=SV_5pSH1NUO01peFs9" target="_blank" class="border-bottom text-uppercase">
              Cuestionario Base (Parte 2)</a>
          </li>
          <li class="bold">
            <a href="http://insead.eu.qualtrics.com/SE/?SID=SV_ac0vMhCesBEmrEF" target="_blank" class="border-bottom text-uppercase">
              Cuestionario Base (Parte 3)</a>
          </li>
          <li class="bold">
            <a href="https://es.surveymonkey.com/r/laboratoria_lectura" target="_blank" class="border-bottom text-uppercase">
              EXAMEN DE COMPRENSIÓN DE LECTURA</a>
          </li>
          <li class="bold">
            <a href="https://goo.gl/forms/NI68h8XAyLO6IRmB3" target="_blank" class="border-bottom text-uppercase">
              EXAMEN DE LÓGICA</a>
          </li>
          <li class="bold">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcnn5T02JQcAaZA1IXYKXE3qr21fFR_mhkzJM-LkYRgnCTQw/viewform?c=0&w=1" target="_blank" class="border-bottom text-uppercase">
              CUESTIONARIO DE IDENTIFICACIÓN</a></li>
          <li class="bold">
            <a href="https://goo.gl/forms/lWDJEZRHhMASW3l12" target="_blank" class="border-bottom text-uppercase">
              CUESTIONARIO FINAL</a>
          </li>
        </ol>
      </div>
      <div class="col-sm-2 text-right">
        <ul>
          <li class="text-uppercase bold">15 min</li>
          <li class="text-uppercase bold">7 min</li>
          <li class="text-uppercase bold">7 min</li>
          <li class="text-uppercase bold">90 min</li>
          <li class="text-uppercase bold">60 min</li>
          <li class="text-uppercase bold">45 min</li>
          <li class="text-uppercase bold">15 min</li>
        </ul>
      </div>
    </div>
    <%= link_to selection_success_path, :class => "btn light h3 btn-prueba text-uppercase text-center" do %>
      finalizar pruebas <span>&#8594;</span>
    <%end%>

  </div>
</section>
