<section id="final-prueba">
  <div class="container-sm text-center">
    <h3 class="text-center light">¡Bravo, finalizaste las pruebas!</h3>
    <%= image_tag 'raya.png' %>
    <p>
      A continuación te presentamos un video que te cuenta mucho más sobre Laboratoria, ¡dale una chequeada!
    </p>
    <iframe class="full-width" height="387" src="https://www.youtube.com/embed/_QTag-SbZ0o" frameborder="0" allowfullscreen></iframe>
    <p class="text-final">
      Te comunicaremos los resultados de las pruebas por correo electrónico, así que estate atenta. De nuevo gracias por venir y ¡que te haya ido genial!
    </p>
  </div>
</section>
