<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      CAPITAN.page.show.excercise.init($(".exercise_instructions"));
    });
  </script>
<% end %>
<div class="container-fluid plr-20x">
    <div class="exercise_instructions">
      <%= @page.excercise_instructions %>
    </div>
    <% if @page.document.file? %>
      <h2>Materiales</h2>
      Descarga todos los materiales necesario para realizar el ejercicio aqui
      <%= link_to @page.document.url do %>
         <i class="fa fa-file-archive-o"></i>
      <% end %>
    <% end %>
</div>