<div id="autoevaluacion" class="outer-container  <%="hidden" unless ["quiz","retrospective","codereview"].include?(@page.page_type) %>">
    <div class="container-sm text-left">
    	<h2 class="text-uppercase fz-12">Autoevaluación</h2>
    	<div class="row">
	      	<div class="col-md-5">
				<h3 class="text-primary">lección 101</h3>
			</div>
			<div class="col-md-7">
				<p class="texto-introductorio">Recuerda responder con total honestidad estas preguntas para poder ayudar a que te conviertas en una super frontend designer.</p>
			</div>
		</div>
		<form class="pt-49">
			<ol>
				<li>
					<label>Asi me he sentido sobre el tema que acabo deaprender</label>
					<ul class="list-inline list-icons-feeling mt-21">
						<li class="p-5"><input type="radio" name="feeling" for=""><%= link_to image_tag("insatisfecho.png",alt: "insatisfecho", class: "logo-feeling"), root_path %></li>
						<li class="p-5"><input type="radio" name="feeling" for=""><%= link_to image_tag("cool.png",alt: "insatisfecho", class: "logo-feeling"), root_path %></li>
						<li class="p-5"><input type="radio" name="feeling" for=""><%= link_to image_tag("satisfecho.png",alt: "insatisfecho", class: "logo-feeling"), root_path %></li>
					</ul>
				</li>
				<li></li>
				<li></li>
			</ol>
		</form>
    </div>
</div>
<!-- <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=zA6MmD&amp;utm_source=typeform.com-3765453-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=ES" style="color: #999" target="_blank">Typeform</a></div> -->