<% content_for :scripts do %>
  <script type="text/javascript">
  	$(document).ready(function(){
  		$(".btn-autoevaluacion").attr("disabled", "true");
  		var disabled = function() {
	  		$(".btn-autoevaluacion").removeClass("submit");
	  		$(".btn-autoevaluacion").attr("disabled", "true");
	  	}
	  	var submitAutoevaluacion = function() {
	  		$(".btn-autoevaluacion").addClass("submit");
	  		$(".btn-autoevaluacion").removeAttr("disabled");
	  	}
  		var containerFeeling = $(".input-feeling").parent();
	  	containerFeeling.click(function(e){
	  		var inputFeeling = $(this).find(".input-feeling");
	  		containerFeeling.removeClass("checked");
	  		containerFeeling.find(".input-feeling").removeAttr("checked");
	  		inputFeeling.prop("checked", "true");
	  		if ( inputFeeling.is(":checked") ) {
	  			$(this).addClass("checked");
	  		}
	  		if($(".respuesta").val() != "") {
	  			submitAutoevaluacion();
	  		} else {
	  			disabled();
	  		}  
	  	});
	  	$(".respuesta").change(function(){
	  		if ($("li.checked").length != 0 && $(this).val() != "") {
	  			submitAutoevaluacion();
	  		} else {
	  			disabled();
	  		}	
	  	});
  	});
  </script>
<% end %>
<div id="autoevaluacion" class="outer-container  <%="hidden" unless ["quiz","retrospective","codereview"].include?(@page.page_type) %>">
    <div class="container-sm text-left">
    	<h2 class="text-uppercase fz-12">Autoevaluación</h2>
    	<div class="row">
	      	<div class="col-md-5">
				<h3 class="text-primary">lección 101</h3>
			</div>
			<div class="col-md-7">
				<p class="texto-introductorio">Recuerda responder con total honestidad estas preguntas para poder ayudar a que te conviertas en una super frontend designer.</p>
			</div>
		</div>
		<form class="pt-49">
			<ol>
				<li>
					<label>Asi me he sentido sobre el tema que acabo deaprender</label>
					<ul class="list-inline list-icons-feeling mt-21 mb-70">
						<li class="p-5">
							<input type="radio" name="feeling" for="" class="input-feeling sr-only"><%= image_tag("insatisfecho.png",alt: "insatisfecho", class: "logo-feeling") %>
						</li>
						<li class="p-5">
							<input type="radio" name="feeling" for="" class="input-feeling sr-only"><%= image_tag("cool.png",alt: "insatisfecho", class: "logo-feeling") %>
						</li>
						<li class="p-5">
							<input type="radio" name="feeling" for="" class="input-feeling sr-only"><%= image_tag("satisfecho.png",alt: "insatisfecho", class: "logo-feeling") %>
						</li>
					</ul>
					<label class="btn-block">&#8226 ¿Por qué sientes así?</label>
					<input type="texto" placeholder="Escribe por qué" class="respuesta"></input>
				</li>
			</ol>
			<button type="submit" class="btn-autoevaluacion bg-gray-lighter mv-70">enviar <span class="pl-14">&#8594;</span></button>
		</form>
    </div>
</div>
<!-- <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=zA6MmD&amp;utm_source=typeform.com-3765453-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=ES" style="color: #999" target="_blank">Typeform</a></div> -->